//META{"name":"Koi's Pond","description":"UNSTABLE BETA 0.2.1: Continued Isolation","author":"Koi","version":"0.2.1"}*//{}

/* BACKGROUND
.callout-backdrop,
.app {
	background: url(https://i.imgur.com/EP6ths8.png) !important;
	background-size: cover !important;
}

.layer,
.layers,
.theme-dark .chat,
.messages-wrapper,
.content {
    background: transparent !important;
}
END BACKGROUND */

/* SROLL BAR */
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.0) !important;
}
/* END SCROLL BAR */

/* CHAT BOXES */
.message-group {
    background-color: rgba(150, 100, 200, .2);
    border-radius: 10px;
    margin-top: 10px !important;
    padding-left: 20px !important;
}
/* END CHAT BOXES */

/* GUILD BAR
.guilds {
    margin-top: 55px;
    margin-bottom: 51px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
END GUILD BAR */
