//META{"name":"Testing","description":"Background","author":"Koi","version":"1.0"}*//{}

.app {
    background-image: url(https://i.imgur.com/6f8vevM.jpg) !important;
    background-size: cover !important;
}
.layers, .layer { background: transparent !important;
}
.callout-backdrop {
    background-image: url(https://i.imgur.com/6f8vevM.jpg) !important;
    background-size: cover !important;
}

body {
-webkit-backface-visibility: hidden;
}

 .theme-dark .chat{background: transparent;}

#rtc-connection {
    border-top: 1px solid rgba(255, 255, 255, 0.0);
}
#rtc-connection .btn,
.account .btn {
    border: none;
}
#rtc-connection,
#friends,
#friends .btn,
.friends-header,
.friends-table,
.search-bar,
.guilds-wrapper,
.channels-wrap,
.guild-channels,
.account,
.links,
.messages-wrapper,
.title-wrap,
.content,
.chat-empty,
.message-group-blocked,
.private-channels,
.guild-header header,
.typing,
.ider-red span {
    background: transparent !important;
}

.channel:not(.selected) {
    transition: background .3s ease-out !important;
}
.channel:not(.selected):hover {
    background: rgba(0, 0, 0, 0.0) !important;
    transition: background .2s ease-in !important;
}
.friends-row:hover,
.search-result:hover,
.btn-friends.selected,
.search-result.selected,
.channel.selected.private,
.channel.channel-text.selected {
    background: rgba(0, 0, 0, 0.0) !important;
}
.guild-channels .channel-text.selected {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)) !important;
}
.guild-channels .channel-text.selected:before,
.guild-channels .channel-text.selected:hover:before,
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before,
.private-channels .channel.selected:before,
.private-channels .channel:hover:before {
    border-left: 3px solid #00cccc;
}
.avatar-large.animate {
    border: 2px solid rgba(0, 204, 204, 0.6) !important;
    width: 40px;
    height: 40px;
}
.guild-channels .channel-text:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)) !important;
}
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before {
    left: -11px;
}
.guild-header header {
    background-color: rgba(0, 0, 0, 0.0) !important;
    box-shadow: none !important;
}
.guild-header ul {
    opacity: 0;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.guild-header-open ul {
    opacity: 1;
}
.invite-btn {
    background-color: rgba(0, 204, 204, 0.5) !Important;
}
.private-channels .channel:hover:before {
    opacity: .25 !important;
}
.user-settings-modal button.preview-sound:before {
    -webkit-filter: hue-rotate(275deg) saturate(400%);
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.0) !important;
    border: 1px solid rgba(0, 0, 0, 0.0) !important;
}
.voice-connection-channel {
    color: #000000;
    font-size: 12px;
}
.inline {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
}
/*Transparency*/
/*Guild name*/
/*Scrolling bar*/
/*Buttons*/

.badge {
    background-color: #11d4ad;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
}
.channel.channel-text.unread a {
    background: transparent !important;
}
.markup {
    color: #ffffff;
    font-size: 16px;
}
.markup a {
    color: #17f0ff !important;
}
.member.member-status.member-status-offline:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.member.member-status.member-status-online:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
.notice {
    background-color: #a1a1a1;
    color: #000000;
}
.channel-members h2 {
    border-radius: 10px;
    color: #ffffff !important;
    margin-left: 10px;
    padding-top: 10px;
}
.timestamp {
    color: rgba(255, 255, 255, 0.7) !Important;
    font-size: 13px;
}
.ider span {
    background-color: #615900;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}
::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    
    color: rgba(255, 255, 255, 0.6);
}
.chat>.title-wrap {
    box-shadow: none !important;
}
.title-wrap {
    box-shadow: none !important;
}
.hljs {
    background: transparent;
    border-radius: 8px !important;
    color: #a3a3a3 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: normal;
}
.member-activity {
    color: #ffffff !important;
}
.links li a:hover {
    color: #00cccc !important;
}
.channel-textarea-inner {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.0) !important;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 0) 100%);
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.topic.topic-expandable {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 12px !important;
}
.topic.topic-expandable a {
    color: #00fff2 !important;
}
.topic.topic-expandable:hover {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 14px !important;
}
.member.member-status.member-status-online {
    background: transparent;
}
.messages {
    background: transparent;
    margin-top: 5px !important;
    margin-right: 20px !important;
}
.chat .title-wrap {
    border-bottom: 0px;
}
.guild-header header span {
    margin-left: 30%;
}
.guild-header header {
    position: absolute;
    right: 0px;
    border: transparent;
    width: 135%;
    color: #ffffff;
    height: 58px;
}
.chat .messages-wrapper {
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%) !important;
}
.links li a {
    margin-left: 1.2vw !important;
    color: #dbdbdb !important;
}
.guild-channels header {
    overflow: hidden !important;
}
.message-group {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 10px !important;
    padding-left: 20px !important;
}
.scroller.channel-members {
    padding-top: 3px !important;
}
.guild-channels {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-right: 1px solid transparent;
    margin-left: 2vh !important;
    margin-top: 63px;
    margin-bottom: 0.1vh;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 98%, rgba(0, 0, 0, 0) 100%);
}
.account {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    margin-top: 1.6vh;
    margin-left: 2vh !important;
    margin-bottom: 2.5vh;
    height: 8vh;
    width: auto;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.username {
    font-size: 90% !important;
}
.discriminator {
    font-size: 70% !important;
}
#rtc-connection {
    margin-left: 3vh !important;
}
.guilds {
    padding-top: 20px !important;
    margin-top: 80%;
    margin-bottom: 130%;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid rgba(0, 0, 0, 0.9);
    border-bottom: 4px solid rgba(0, 0, 0, 0.9);
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 7%, rgba(0, 0, 0, 1) 94%, rgba(0, 0, 0, 0) 100%);
}
