//META{"name":"Testing","description":"Background","author":"Koi","version":"1.0"}*//{}

.app {
    background-image: url(https://i.imgur.com/6f8vevM.jpg) !important;
    background-size: cover !important;
}
.layers, .layer { background: transparent !important;
}
.callout-backdrop {
    background-image: url(https://i.imgur.com/6f8vevM.jpg) !important;
    background-size: cover !important;
}

body {
-webkit-backface-visibility: hidden;
}

 .theme-dark .chat{background: transparent;}

#rtc-connection {
    border-top: 1px solid rgba(255, 255, 255, 0.0);
}
#rtc-connection .btn,
.account .btn {
    border: none;
}
#rtc-connection,
#friends,
#friends .btn,
.friends-header,
.friends-table,
.search-bar,
.guilds-wrapper,
.channels-wrap,
.guild-channels,
.account,
.links,
.messages-wrapper,
.title-wrap,
.content,
.chat-empty,
.message-group-blocked,
.private-channels,
.guild-header header,
.typing,
.ider-red span {
    background: transparent !important;
}

