//META{"name":"Testing","description":"Background","author":"Koi","version":"1.0"}*//{}

.app,
.callout-backdrop {
	background: url(https://i.imgur.com/7SbtKvw.png) !important;
	background-size: cover !important;
}

.layers,
.layer {
    background: transparent !important;
}

body {
    -webkit-backface-visibility: hidden;
}

.theme-dark .chat {
    background: transparent;
}

/*.search-bar,*/
.channels-wrap,
.links,
/*.messages-wrapper,*/
/*.title-wrap,*/
.content,
.chat-empty,
.message-group-blocked,
.private-channels,
/*.typing,*/
.ider-red span {
    background: transparent !important;
}

